@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema claro (default) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tema escuro automático (segue o SO) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #dedede;
  }
}

/* Estilos globais mínimos */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* ====== CANARY ====== */
body { outline: 6px solid #ff0066; }
h1 { color: #0055ff; }




